@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

     * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Open Sans", 'Segoe UI', sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        background: linear-gradient(to right, #f0f4ff 0%, #e6f0ff 100%);
        padding-top: 70px;
    }

    .container {
        max-width: 1200px;
        padding: 20px;
        margin: 0 auto;
    }



    .banner {
        background: linear-gradient(to right, #1F3D8E 0%,  #397DEE 100%);
        color: white;
        padding: 30px;
        border-radius: 16px;
        box-shadow: 0 10px 30px #193d7c63;
        margin-bottom: 30px;
        text-align: center;

    }

    .banner h1 {
        font-size: 2rem;
        font-weight: 600;
        margin: 20px 0;
    }

    .banner p {
        font-size: 1.1rem;

    }

    .filter-section {
        background: white;
        padding: 25px;
        border-radius: 16px;
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
        margin-bottom: 25px;
    }

    .filters-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        margin-bottom: 20px;
    }

    .filter-fields {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .filter-fields label {
        font-weight: 600;
        color: #46556d;
        font-size: 1rem;
    }
    .search-bar label {
        font-weight: 600;
        color: #46556d;
        font-size: 1rem;
    }

    .filter-input {
        padding: 10px 8px;
        font-size: 1rem;
        border-radius: 8px;
        border: 2px solid #e2e4e9;
    }

    .filter-input:focus {
        outline: none;
        border-color: #3b82f6;
        box-shadow: 0 0 1px 3px #3c80ee1a;
    }